@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


:root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    /* --font-type: font-family: 'Ubuntu', sans-serif; */
}

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


body{
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    min-width: 200px;
}

/* 
body.dark-theme {
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
} */

/*================================================================================================================*/


/*=================================HEADER===============================================================================*/

/*<<<<<<<<<SHIRT AND BACKGROUND>>>>>>>>>>>>>*/

nav{
    width: 100%;
    height: 100px;
    background-color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    z-index: 100070001;
}

.nav_things{
    display: flex;
    justify-content: flex-start;
    
}



nav span{
    font-size: 16px;
}

a{
    text-decoration: none;
    font-size: 16px;
    display: flex;
    
    gap: 1em;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--text-color-light);
}



li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
} 


ul{
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-decoration: none;
}

.svgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.carrito_svg{
    fill: var(--title-color);
    width: 20px;
    height: 20px;
}

.dark_mode_svg{
    fill: var(--title-color);
    width: 20px;
    height: 20px;
}

/* z-index: 10000000;z-index: 10000000;z-index: 10000000;z-index: 10000000;z-index: 10000000; */

.content_carrito{
    position: relative;
    z-index: 100070002;
}

.amountMerch{
    width: 20px;
    height: 20px;
    color: var(--body-color);
    border-radius: 100%;
    background-color: var(--button-color-alt);
    display: flex;
    justify-content: center;
    align-items: center;
}


.amountMerch{
    position: absolute;
    top: 20; 
    right: 20;
}

/* carrrrrooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
.sidebar_carton{
    background-color: var(--container-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -110%;
    transition: margin-right 0.5s;
    z-index: 100070000;
}


.show_sidebar_carton{
    margin-right: 0;
}


.sidebar_carton h3{
    margin-top: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/*LOGICA CARRITOOOOOOOOOOOOO0OOOOOOO*/
.contenor_carrito_imprimir_class{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.contenor_carrito_imprimir_class img{
    border: 1px solid var(--card-color);
    max-width: 80px;
    max-height: 80px;

}
.contenor_carrito_imprimir_class svg{
    width: 100%;
    height: 100%;
}


.productos_carrito{
    width: 90%;
    height: 30%;
    background-color: var(--container-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.productos_carrito span{
    border-left: 2px solid var(--button-color);
    padding-left: 10px;
    font-size: 14px;
}


.main_content_carrito{
    display: flex;
    flex-direction: column;
    gap:.5em;
}


.aumentar_disminuir{
    display: flex;
    gap: 1em;
}





.menos_carrito{
    width: 20px;
    height: 20px;
    
}


.aumentar_cantidad_producto_carrito{
    font-size: 15px;
}

.mas_carrito,
.trash_can{
    width: 20px;
    height: 20px;
    
}

.aumentar_disminuir svg{
    border-radius: 100%;
    border: 1px solid var(--card-color);
}


.trash_dad svg{
    border: none;
}
.trash_can{
    width: 100%;
    fill: var(--first-color);
}

.text_cart_content_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2em;
}

.text_cart_content_button button{
    padding: 20px;
    background-color: var(--first-color);
    border: none;
    border-radius: 15px;
    color: white;

}

.text_cart_content_button button:hover{
    background-color: var(--text-color-light);
    color: var(--container-color);
}
.text_cart_content_button button:active{
    padding: 22px;

}

/*carroooooo*/

.header{
    padding-bottom: 80px;
}
.principal_image_container{
    display: flex;
    justify-content: end;
}

.pricnipal_container{
    background-color: var(--body-color);

}


.image_container{
   width: 250px;
    height: 450px;
    background-color: var(--first-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 40px;
}


.shirt{
    width: 250px;
    height: 250px;
    
    
}



/*<<<<<<<<<TITLE, DESCRIPTION AND PRICE>>>>>>>>>>>>>*/
.text_container{
    padding: 60px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.text_container h3,
h1{
    display: flex;
    line-height: 15px;
    font-size: 30px;
    font-weight: 700;
    color: var(--title-color);
}

.text_container p{
    font-weight: 400;
    color: var(--text-color);
}

.text_container strong{
    color: var(--first-color);
    font-size: 20px;
}


/*<<<<<<<<<BUTTUNSSS>>>>>>>>>>>>>*/
.switch_container{
    padding: 20px;
    display: flex;
}


.first_button{
    width: 100px;
    height: 50px;
    background-color: rgb(192, 192, 192);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.first_button{
    display: flex;
    justify-content: center;
    align-self: center;
}
.first_button:active{
    color: var(--container-color);
    transition: 0.5s;
}

.second_button{
    width: 150px;
    height: 60px;
    background-color: var(--button-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.second_button:active{
    background-color: var(--first-color);
    transition: 0.5s;
}

/*===================================PRODUCTS=============================================================================*/


.content_bar{
    background-color: var(--body-color);
}

.bar{
    display: flex;
}

.bar_row{
    width: 50%;
}
.bar_info{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background-color: var(--body-color);
    padding: 10px;
    color: var(--text-color);
    border: none;
    border-right: 2px solid var(--card-color);
}

.bar .p1{
    font-size: 18px;
    font-weight: 500;

    
}

.bar .p2{
    font-size: 14px;
    font-weight: 500;

}


.shirt_image:hover{
    margin-bottom: 20px;
    transition: margin_bottom 0.5s;
}


/*<<<<<<<<<MERCHANDASING>>>>>>>>>>>>>*/
.merch_bar{
    margin: 30px 0 100px 0;
    display: grid;
    grid-template-columns: 200px;
    gap: 2rem;
    justify-content: center;
}
/* .merch_bar{
    margin: 30px 0 100px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
} */

.merch{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 15px;
}



.merch .image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
}

.merch .shirt_image{
    
    max-width: 150px;
    max-height:150px;
}



.text_merch{
    padding: 0 20px;
}
.merch .price{
    display: flex;
    flex-direction: row;
}

.merch .price span{
    font-size: 18px;
    font-weight: 700;
    padding-right: 5px;
}
.merch .price .span1{
    font-size: 12px;
    border-left: 2px solid var(--card-color);
    padding-left: 5px;
}

.merch_type p{
    font-size: 16px;
    font-weight: 700;
    
}



/*========================================botones========================================================================*/
.merch .button{
    background-color:var(--body-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}


.merch .button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.merch .button .puto_suma_boton{
    width: 100%;
    height: 100%;
}
.merch{
position: relative;
}


 
.merch .button{
    bottom: 50px;
    right: 10px;
    position: absolute;
    z-index: 50000;

}


/*========================================FOOTER========================================================================*/


.footer{
    background-color: var(--card-color);
    color: var(--text-color);

}
.footer_content{
    display: flex;
    padding: 80px 30px;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

.footer_content h4{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px ;
}

.footer_column{
    display: flex;
    flex-direction: column;
    gap: .7em;
    
}




.footer_content ul{
    display: flex;
    gap: 1em;
}



.rights{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    color: var(--text-color-light);
}


.rights p{
    font-size: 12px;

}


.header {
    max-width: 1200px;
    margin: auto;

    
}
/* .merch_bar_container{
    justify-content: center;
} */
.content_bar{
    max-width: 1200px;
    margin: auto;
}

.footer_content{
    max-width: 1200px;
    margin: auto;
}



/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/

/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/

/* 
=========================================================D====================================================== */
/* 
=========================================================E====================================================== */
/* 
=========================================================S====================================================== */
/* 
=========================================================K===================================================== */
/* 
=========================================================T===================================================== */
/* 
=========================================================O===================================================== */
/* 
=========================================================P===================================================== */

/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/
/*================================================================================================================*/



@media (min-width: 700px){

    .merch_bar{
        margin: 60px 0 100px 0; 
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        column-gap: 3rem;
    }
    
    .header{
        display: flex;
        flex-direction: row-reverse;

    }

    .main_info_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .principal_image_container{
        display: flex;
        justify-content: end;
    }

    .switch_container{
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }
    .image_container{
        width: 350px;
         height: 550px;
         background-color: var(--first-color);
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         padding-bottom: 40px;
     }
     .shirt{
        width: 350px;
        height: 350px;
        
        
    }

}


@media (min-width: 1000px){
    
body{
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}

/* 
body.dark-theme {
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
} */

/*================================================================================================================*/


/*=================================HEADER===============================================================================*/

/*<<<<<<<<<SHIRT AND BACKGROUND>>>>>>>>>>>>>*/




.pricnipal_container{
    background-color: var(--body-color);

}

nav{
    width: 100%;
    height: 100px;
    background-color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    z-index: 100070001;
}

.nav_things{
    display: flex;
    justify-content: flex-start;
    
}



nav span{
    font-size: 16px;
}

a{
    text-decoration: none;
    font-size: 16px;
    display: flex;
    
    gap: 1em;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--text-color-light);
}



li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
} 


ul{
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-decoration: none;
}

.svgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.carrito_svg{
    fill: var(--title-color);
    width: 20px;
    height: 20px;
}

.dark_mode_svg{
    fill: var(--title-color);
    width: 20px;
    height: 20px;
}

/* z-index: 10000000;z-index: 10000000;z-index: 10000000;z-index: 10000000;z-index: 10000000; */

.content_carrito{
    position: relative;
    z-index: 100070002;
}

.amountMerch{
    width: 20px;
    height: 20px;
    color: var(--body-color);
    border-radius: 100%;
    background-color: var(--button-color-alt);
    display: flex;
    justify-content: center;
    align-items: center;
}


.amountMerch{
    position: absolute;
    top: 20; 
    right: 20;
}

/* carrrrrooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
.sidebar_carton{
    background-color: var(--container-color);
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -100%;
    transition: margin-right 0.5s;
    z-index: 100070000;
}


.show_sidebar_carton{
    margin-right: 0;
}


.sidebar_carton h3{
    margin-top: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/*LOGICA CARRITOOOOOOOOOOOOO0OOOOOOO*/
.contenor_carrito_imprimir_class{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.contenor_carrito_imprimir_class img{
    border: 1px solid var(--card-color);
    max-width: 80px;
    max-height: 80px;

}
.contenor_carrito_imprimir_class svg{
    width: 100%;
    height: 100%;
}


.productos_carrito{
    width: 90%;
    height: 30%;
    background-color: var(--container-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.productos_carrito span{
    border-left: 2px solid var(--button-color);
    padding-left: 10px;
    font-size: 14px;
}


.main_content_carrito{
    display: flex;
    flex-direction: column;
    gap:.5em;
}


.aumentar_disminuir{
    display: flex;
    gap: 1em;
}





.menos_carrito{
    width: 20px;
    height: 20px;
    
}


.aumentar_cantidad_producto_carrito{
    font-size: 15px;
}

.mas_carrito,
.trash_can{
    width: 20px;
    height: 20px;
    
}

.aumentar_disminuir svg{
    border-radius: 100%;
    border: 1px solid var(--card-color);
}


.trash_dad svg{
    border: none;
}
.trash_can{
    width: 100%;
    fill: var(--first-color);
}

.text_cart_content_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2em;
}

.text_cart_content_button button{
    padding: 20px;
    background-color: var(--first-color);
    border: none;
    border-radius: 15px;
    color: white;

}

.text_cart_content_button button:hover{
    background-color: var(--text-color-light);
    color: var(--container-color);
}
.text_cart_content_button button:active{
    padding: 22px;

}
/* nav{
    width: 100%;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
}
  
  .nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .nav__logo, 
  .nav__toggle, 
  .nav__shop, 
  .nav__close {
    color: var(--title-color)
}
  
  .nav__logo {
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}
  
  .nav__logo-icon {
    width: 48px;
    height: 48px;
    fill: var(--first-color);
}
  
  .nav__btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
  
  .nav__toggle, 
  .nav__shop {
    font-size: 1.25rem;
    cursor: pointer;
}
  
  .nav__shop {
    position: relative;
}
  
  .nav__shop .count {
    position: absolute;
    bottom: 0px;
    right: -7px;
    width: 16px;
    height: 16px;
    padding: .25rem;
    background-color: var(--title-color);
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
}
  
  */
  
.header{
    display: flex;
    flex-direction: row-reverse;

}

.main_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal_image_container{
    display: flex;
    justify-content: end;
}

.switch_container{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.image_container{
   width: 450px;
    height: 750px;
    background-color: var(--first-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 40px;
}

/* 
.image_container{
    position: fixed;
} */

.shirt{
    width: 450px;
    height: 450px;
    
    
}

/*<<<<<<<<<TITLE, DESCRIPTION AND PRICE>>>>>>>>>>>>>*/
.text_container{
    padding: 60px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.text_container h3,
h1{
    display: flex;
    line-height: 15px;
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
}

.text_container p{
    font-weight: 400;
    color: var(--text-color);
}

.text_container strong{
    color: var(--first-color);
    font-size: 24px;
}


/*<<<<<<<<<BUTTUNSSS>>>>>>>>>>>>>*/
.switch_container{
    padding: 20px;
    display: flex;
}


.first_button{
    width: 100px;
    height: 50px;
    background-color: rgb(192, 192, 192);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.first_button{
    display: flex;
    justify-content: center;
    align-self: center;
}
.first_button:active{
    color: var(--container-color);
    transition: 0.5s;
}

.second_button{
    width: 150px;
    height: 60px;
    background-color: var(--button-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.second_button:active{
    background-color: var(--first-color);
    transition: 0.5s;
}

/*===================================PRODUCTS=============================================================================*/


.content_bar{
    background-color: var(--body-color);
}

.bar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.bar_row{
    display: flex;
    justify-content: center;
    gap: 8em;
    width: 40%;
}
.bar_info{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background-color: var(--body-color);
    padding: 10px;
    color: var(--text-color);
    border: none;
    gap: 0.7em;
    /* border-right: 2px solid var(--card-color); */
}

.bar .p1{
    font-size: 20px;
    font-weight: 500;

    
}

.bar .p2{
    font-size: 14px;
    font-weight: 500;

}



/*<<<<<<<<<MERCHANDASING>>>>>>>>>>>>>*/
/* .merch_bar{
    margin: 60px 0 100px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    gap: 5em;
} */
.merch_bar{
    margin: 60px 0 100px 0; 
    grid-template-columns: repeat(3, 262px);
    justify-content: center;
    column-gap: 5rem;
}



.merch{
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    gap: .7em;
    align-self: center; */
}


.merch .image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
}

.merch .shirt_image{
    max-width: 200px;
    max-height:200px;
}



.text_merch{
    padding: 0 20px;
}
.merch .price{
    display: flex;
    flex-direction: row;
}

.merch .price span{
    font-size: 23px;
    font-weight: 700;
    padding-right: 5px;
}
.merch .price .span1{
    font-size: 15px;
    border-left: 2px solid var(--card-color);
    padding-left: 5px;
}

.merch_type p{
    font-size: 20px;
    font-weight: 700;
    
}
/*========================================botones========================================================================*/
.merch .button{
    background-color:var(--body-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}


.merch .button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.merch .button .puto_suma_boton{
    width: 100%;
    height: 100%;
}
.merch{
position: relative;
}


 
.merch .button{
    bottom: 50px;
    right: 10px;
    position: absolute;

}
/*========================================FOOTER========================================================================*/


.footer{
    background-color: var(--card-color);
    color: var(--text-color);

}
.footer_content{
    display: flex;
    padding: 80px 30px;
    justify-content:space-around;
    flex-direction: row;
    gap: 3em;
}

.footer_content h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px ;
}

.footer_column{
    display: flex;
    flex-direction: column;
    gap: .7em;
    
}




.footer_content ul{
    display: flex;
    gap: 1em;
}



.rights{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    color: var(--text-color-light);
}


.rights p{
    font-size: 14px;
}
}

@media (min-width: 1000px) {
    /*========================================botones========================================================================*/
.merch .button{
    background-color:var(--body-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}


.merch .button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.merch .button .puto_suma_boton{
    width: 100%;
    height: 100%;
}
.merch{
position: relative;
}


 
.merch .button{
    bottom: 70px;
    right: 10px;
    position: absolute;

}
}